In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [88]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [90]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [92]:
# Ans 1. Which was the most-ordered item?
chipo['item_name'].value_counts().head(1).index[0]

'Chicken Bowl'

In [94]:
# Ans 2. For the most-ordered item, how many items were ordered?
chipo['item_name'].value_counts().head(1).values[0]

726

In [105]:
# Ans 3. What was the most ordered item in the choice_description column?


# Creating a function that can tell maximum ordered item for each type of prefference
def most_ordered(x):
  return x['item_name'].value_counts().index[0]

# Applying the function to each group of choice_description
chipo.groupby('choice_description').apply(most_ordered)

# Here we get most ordered item for each type of prefference

choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                         Burrito
[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]                                                                        Burrito
[Adobo-Marinated and Grilled Chicken]                                                                                                             Crispy Tacos
[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]                                                           Bowl
[Adobo-Marinated and Grilled Steak]                                                                                                               Crispy Tacos
                                                                                                                                                    ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Cheese, Lettuce]]                                Chicken Burrito
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Lettuce]]                                           Chicken Bowl
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]                                Chicken Burrito
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]      Barbacoa Bowl
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]                          Barbacoa Bowl
Length: 1043, dtype: object

In [104]:
chipo['item_name'].value_counts().index[0]

'Chicken Bowl'

In [106]:
# Ans.4 How many items were ordered in total?
chipo['order_id'].count()

4622

In [107]:
# Ans 5. Turn the item price into a float

# Creating a function that will change datatype of item_price from string to float
def change(x):
  try:
    return float(x[1:])

  except:
    return x

# Changing prices to float
chipo['item_price'] = chipo['item_price'].apply(change)

In [108]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [110]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [111]:
# Ans 6.How much was the revenue for the period in the dataset?
chipo['item_price'].sum()

34500.16

In [113]:
# Ans 7. How many orders were made in the period?
chipo['order_id'].count()

4622

In [114]:
# Ans 8. What is the average revenue amount per order?
chipo['item_price'].mean()

7.464335785374297

In [116]:
# Ans 9. How many different items are sold?
chipo['item_name'].nunique()

50

In [118]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000